/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

/* Start styling here */

@font-face {
    font-family: roboto-font;
    src: url(./fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

* {
    font-family: roboto-font, sans-serif;
}

li {
    list-style: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 0.5fr 4fr;
}

/* #region sidebar */

.sidebar {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 0.2fr 1fr 1fr;
    background-color: #1992d4;
    color: white;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.36);

}

.sidebar * {
    display: flex;
    align-items: center;
}

.sidebar a {
    text-decoration: none;
    color: white;
}

.sidebar > ul svg {
    width: 1.6rem;
    margin-right: 1.4rem;
    fill: white;
}

.sidebar > ul {
    margin-left: 2rem;
}

.sidebar h1 svg {
    width: 3.4rem;
    margin: 0 0.8rem 0 1.5rem;
    fill: white;
}

.top-links,
.bottom-links {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}

/* #endregion */

/* #region header */

.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.36);
}

.nav-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.nav-left {
    display: grid;
    align-items: center;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form input {
    width: 80%;
}

.nav-left svg {
    margin-left: 2rem;
}

input[type="search"] {
    border-radius: 40px;
    background-color:  #e2e8f0;
    border: none;
    padding-left: 1rem;
}

input[type="search"]:focus {
    outline: none;
    border: 2px solid #1992d469
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 4rem;
    gap: 2rem;
}

.nav-top svg {
    display: inline-block;
    width: 1.6rem;
    margin-right: 1rem;
}

.nav-bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.nav-bottom .left {
    display: flex;
    padding-left: 3rem;
    margin-bottom: 1rem;
    align-items: center;
}

.nav-bottom .left .text {
    padding-left: 2rem;
}

.left > img {
    width: 1rem;
}

.right {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.right button {
    border-radius: 40px;
    width: fit-content;
    padding: 0.4rem 1.8rem;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #1992d4;
    border: none;
}

/* #endregion */

/* #region main-content */

.content {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 2rem 2rem 4rem 2rem;
    background-color: #e2e8f0;
    z-index: -1;
} 

.project-container {
    grid-row: 1 / 3;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    align-items: stretch;
}

.project-card {
    padding: 2rem;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 10px outset rgb(255, 166, 0);
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.39);
}

.project-icons {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.project-icons svg {
    width: 2rem;
}

.announcement-container {
    grid-area: 1 / 2 / 2 / 3;
}

.announcements {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.39);
    max-width: 340px;
}

.announcement-card {
    border-bottom: 1px solid black;
    padding: 1rem 0 0 0;
}

.announcement-title {
    font-size: 18px;
}

.trending-container {
    grid-area: 2 / 2 / 3 / -1;
    margin-top: 2rem;
}

.trending {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    height: 90%;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.39);

    max-width: 340px;
}

.trending-user {
    display: flex;
    align-items: center;
}

.trending-user p {
    flex: 1;
}

.trending-user img {
    width: 4rem;
    border-radius: 30px;
    margin-right: 2rem;
}

.user-details > p:first-child {
    font-size: 18px;
}

.icon-attribute a{
    color: blue;
}

/* #endregion */
